<nav>
<ul class="nav justify-content-center">
    <li class="nav-item">
        <a class="nav-link active" href="/baseballs/5f6ac5771635456d81e52e3f/landing"><i class="fas fa-home"></i></a>
    </li>
    <li class="nav-item">
        <a class="nav-link active" href="#"><i class="fas fa-edit"></i></a>
    </li>
    <li class="nav-item">
        <a class="nav-link active" href="/baseballs/5f6ac5771635456d81e52e3f/new"><i class="fas fa-plus-circle"></i></a>
    </li>
    <li class="nav-item">
        <a class="nav-link active" href="#"><i class="fas fa-search"></i></a>
    </li>
</ul>
</nav>