<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('./partials/head.ejs') %>
    <title></title>
</head>
<body>
    <h1>Edit Page. Recreate History!</h1>
    <div class="container">
    <form action="/baseballs/<%=baseball.id%>?_method=PUT" method="POST">
       Title: <input type="text" name="title" value="<%=baseball.title%>" /><br/>
       Description: <input type="text" name="description" value="<%=baseball.description%>" /><br/>
       <!-- <button type="button" name="button"> -->
        <form action="/baseballs"> <input type="submit" class="btn btn-secondary" value="Back" />
       <!-- </button> -->
        <input type="submit" class="btn btn-success" value="Submit">
            
        </form>
    </div>
</body>
</html>