<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('./partials/head.ejs') %>
    <title></title>
</head>
<body>
    <div class="container">
        <h1 class="text-center">Create a New Moment</h1>
        <form action="/baseballs" method="POST" class="form-group">
            <label for="image">Image</label>
            <input type="text" class="form-control" id="titleInput" placeholder="Image URL" name="image" />
            <br/>

            <label for="title">Title</label>
            <input type="text" class="form-control" id="titleInput" placeholder="Name your moment"
                name="title" />
            <br />
            <label for="date">Date</label>
            <input type="text" class="form-control" id="dateInput" placeholder="Ex. August 14th, 2020"
                name="date" />
            <br />
            <label for="description">Description</label>
            <textarea class="form-control" type="text" rows="3"  name="description"
                placeholder="Description for created moment">
       </textarea>
            <br/>
            <br/>
            <form action="/baseballs"> <input type="submit" class="btn btn-secondary" value="Back" />
            <input type="submit" class="btn btn-success" value="Create" >
        </form>
        
    </div>
</body>
</html>