<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>
</head>
<body>
    <h1>This is the New Page. Add a New Moment!</h1>
    <div class="container">
        <form action="/baseballs" method="POST">
            <label for="name">Name:</label>
            <input type="text" name="name" required />
            <label for="color">Color:</label>
            <input type="text" name="color" />
            <br />
            <br>
            <input type="submit" value="Submit">
            <form>
    </div>
</body>
</html>