<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>
</head>
<body>
    <h1>This is the Show Page. Moments</h1>
    <div class="container">
        The <%=baseball.name%> is <%=baseball.color%>.
        <button type="button" name="button"><a href="/baseballs/<%=baseball._id%>/edit">Edit</a></button>
        <br>
        <br>
        <form action="/baseballs/<%=baseball._id%>?_method=DELETE" method="POST">
            <input type="submit" value="DELETE" />
        </form>
        <br>
        <button type="button" name="button">
            <a href="/baseballs">Back</a>
        </button>
    </div>
</body>
</html>