 .dexbtns {
    display: flex;
}

#showbtns {
    display: flex;
    justify-content: space-evenly;
}

html,
body,
header,
nav,
#intro {
    height: 100%;
   
}

#intro {
     background: url('ATT_Park.jpg')no-repeat center center fixed;
     background-size: cover;
     background-repeat: no-repeat;
}

html,
body,
header,
nav,
#intro1 {
    height: 100%;

}
#intro1 {
    background: url('baseballpic.jpeg')no-repeat center center fixed;
    background-size: cover;
    background-repeat: no-repeat;
}

html,
body,
header,
nav,
.landing,
.carousel-inner {
    height: 100%;
    background: no-repeat center center fixed;
}

#newbtns, 
#editbtns {
    display: flex;
    justify-content: flex-end;
}

.alert,
.nav-link {
    background: #3a9888;
    color: white;
}

.card {
    display: flex;
    display: inline-block;
    justify-content: space-around;
}

.carousel-item {
    height: 100vh;
    min-height: 300px;
    background: no-repeat center center scroll;
    background-size: cover;
}

.navbar-nav a {
    font-family: ;
    font-size: 18px;
    font-weight: bold;
}

.navbar-light .navbar-brand {
    color:#fff;
    font-size: 25px;
    letter-spacing: 2px;
    font-weight: bold;
}

.navbar-nav {
    text-align: center;
}

.nav-link{
    padding: .2rem 1rem;
    color: #fff;
}

.w-100{
    height: 100vh;
    width: 100vw;
}

#lcont {
    margin: 0 0 auto;
    display: flex;
    justify-content: flex-end;
    padding: 10px;

}